<div>
  <div *appHasRole="indexRole()">
    <p-card styleClass="table-card border-bottom-3 border-primary">
      @if (withScreenHeader()) {
        <div
          class="flex flex-wrap align-items-center justify-content-between gap-2"
        >
          <h2
            [class]="
              'flex align-items-center gap-2 flex-wrap font-medium capitalize text-lg line-height-2 my-0 ' +
              titleClass()
            "
          >
            <span class="flex align-items-center gap-2">
              <i [class]="titleIcon() + ' text-base'"></i>
              <span>{{ headerTitle() }}</span>
            </span>
            @if (headerSubTitle()) {
              <span class="font-semibold text-sm text-green-500 mt-1">
                ({{ headerSubTitle() }})
              </span>
            }
          </h2>

          <div class="flex flex-wrap gap-1">
            @if (displayFilterBtn()) {
              <button
                type="button"
                pButton
                [pTooltip]="displayFilters() ? 'Hide Filters' : 'Show Filters'"
                tooltipPosition="top"
                class="p-button-outlined p-button-secondary p-2 capitalize text-sm shadow-none"
                [icon]="
                  displayFilters() ? 'pi pi-filter-slash' : 'pi pi-filter'
                "
                (click)="displayFilters.set(!displayFilters())"
              ></button>
            }
            <ng-content select="[moreActions]" />

            @if (displayCreateButton()) {
              <button
                pButton
                *appHasRole="createBtnRole()"
                class="text-sm px-3 py-2 white-space-nowrap bg-primary-900"
                (click)="createBtnClicked.emit()"
                [label]="headerBtnLabel()"
              ></button>
            }
          </div>
        </div>

        <p-divider />
      }

      @if (withCustomFilters()) {
        <ng-container *ngTemplateOutlet="customFiltersTemplate() || null" />
      }

      <div class="flex flex-wrap gap-2 align-items-center mb-3">
        @if (withSelection()) {
          <p-tableHeaderCheckbox class="font-size-0 ml-3" />
        }
        @if (showCurrentPageReport()) {
          <p class="m-0 text-xs font-medium mr-auto">
            {{ currentPageReport() }}
          </p>
        }
        @if (withAdditionalContent()) {
          <ng-container
            *ngTemplateOutlet="additionalContentTemplate() || null"
          />
        }
        @if (withMultiLayout()) {
          <button
            pButton
            (click)="isListLayout.set(!isListLayout())"
            class="p-button-outlined bg-transparent text-600 border-300 hover:border-primary w-2.5rem field-height transition-none shadow-none"
            pTooltip="{{
              isListLayout()
                ? ('grid_view' | translate)
                : ('list_view' | translate)
            }}"
            tooltipPosition="top"
            [icon]="isListLayout() ? 'pi pi-th-large' : 'pi pi-bars'"
          ></button>
        }
        @if (withResetButton()) {
          <button
            pButton
            (click)="resetTable()"
            class="p-button-outlined bg-transparent text-600 border-300 hover:border-primary w-2.5rem field-height transition-none shadow-none"
            [pTooltip]="'reset table' | translate"
            tooltipPosition="top"
            icon="fas fa-eraser"
          ></button>
        }
        @if (withTableSearch()) {
          <ng-container
            *ngTemplateOutlet="
              searchTemplate;
              context: { $implicit: primengTable }
            "
          />
        }
      </div>

      <div (touchend)="removeScrollHint()" class="relative">
        <p-table
          #primengTable
          [responsiveLayout]="responsiveLayout()"
          [breakpoint]="breakpoint()"
          [value]="dataSource()"
          [columns]="columns()"
          [reorderableColumns]="reorderableColumns()"
          (onRowReorder)="onRowReorder.emit($event)"
          (onSort)="columnSortChange.emit($event)"
          [rowHover]="rowHover()"
          [(selection)]="selection"
          [selectionMode]="selectionMode()"
          [selectionPageOnly]="selectionPageOnly()"
          (selectionChange)="selectionChange.emit($event)"
          (selectAllChange)="selectAllChange.emit($event)"
          [rowExpandMode]="rowExpandMode()"
          [editMode]="editMode()"
          (onEditComplete)="editComplete.emit($event)"
          [lazy]="lazy()"
          (onLazyLoad)="onLoadData.emit($event)"
          [lazyLoadOnInit]="lazyLoadOnInit()"
          [dataKey]="dataKey()"
          stateStorage="local"
          [stateKey]="stateKey()"
          (onStateSave)="onStateSave.emit($event)"
          (onStateRestore)="onStateRestore.emit($event)"
          [paginator]="paginator()"
          [paginatorLocale]="currentLang() === 'en' ? 'en-US' : 'ar-EG'"
          paginatorPosition="bottom"
          [showFirstLastIcon]="true"
          [pageLinks]="3"
          [(first)]="first"
          [(rows)]="rows"
          [totalRecords]="totalRecords()"
          [loading]="loading()"
          [showLoader]="false"
          [filterDelay]="700"
          [alwaysShowPaginator]="true"
          [showPageLinks]="true"
          [showCurrentPageReport]="showCurrentPageReport()"
          [currentPageReportTemplate]="currentPageReport()"
          [rowsPerPageOptions]="rowsPerPageOptions()"
          [styleClass]="getTableClass()"
          [showJumpToPageDropdown]="false"
          [globalFilterFields]="globalFilterFields()"
          [showGridlines]="showGridlines()"
          [stripedRows]="stripedRows()"
        >
          <!--
            'p-datatable-hoverable-rows' class is set if (rowHover || selectionMode) are set.
          -->

          <!-- header -->
          <ng-template #header let-columns>
            <ng-container
              *ngTemplateOutlet="
                headerTemplate() || defaultHeaderTemplate;
                context: { $implicit: columns }
              "
            />
          </ng-template>

          <!-- default header -->
          <ng-template #defaultHeaderTemplate let-columns>
            <ng-container>
              <tr class="capitalize">
                @if (withSelection()) {
                  <th class="text-center w-4rem">
                    <p-tableHeaderCheckbox />
                  </th>
                }
                @if (reorderableRows()) {
                  <th class="text-center w-4rem"></th>
                }
                @for (col of columns; track $index) {
                  <th
                    [pSortableColumn]="col.name"
                    [pSortableColumnDisabled]="!col.orderable"
                  >
                    {{ col.title }}
                    @if (col.orderable) {
                      <p-sortIcon [field]="col.name"></p-sortIcon>
                    }
                  </th>
                }
                @if (withActionsColumn()) {
                  <th class="text-center">{{ "actions" | translate }}</th>
                }
              </tr>
            </ng-container>
          </ng-template>

          <!-- body -->
          <ng-template
            #body
            let-rowData
            let-expanded="expanded"
            let-index="rowIndex"
            let-columns="columns"
          >
            @if (!loading()) {
              <ng-container
                *ngTemplateOutlet="
                  bodyTemplate() || defaultBodyTemplate;
                  context: {
                    $implicit: rowData,
                    expanded: expanded,
                    rowIndex: index,
                    columns: columns
                  }
                "
              />
            }
          </ng-template>

          <!-- default body -->
          <ng-template
            #defaultBodyTemplate
            let-rowData
            let-expanded="expanded"
            let-index="rowIndex"
            let-columns="columns"
          >
            <tr [pReorderableRow]="index">
              @if (withSelection()) {
                <td class="text-center">
                  <p-tableCheckbox [value]="rowData" />
                </td>
              }
              @if (reorderableRows()) {
                <td class="text-center">
                  <span class="pi pi-bars p-3" pReorderableRowHandle></span>
                </td>
              }
              @for (col of columns; track $index) {
                <td>
                  <!-- column -->
                  @if (col.render) {
                    <ng-container
                      *ngTemplateOutlet="
                        col.render;
                        context: { $implicit: rowData }
                      "
                    />
                  } @else if (
                    col.name === "createdAt" || col.name === "updatedAt"
                  ) {
                    {{
                      rowData | nestedProperty: col.name | date: "yyyy-MM-dd"
                    }}
                  } @else if (col.name === "user.createdBy") {
                    {{
                      rowData.createdBy?.firstName +
                        " " +
                        rowData.createdBy?.lastName
                    }}
                  } @else if (col.name === "status") {
                    <p-tag
                      [severity]="
                        $any(
                          getStatusSeverity(rowData | nestedProperty: col.name)
                        )
                      "
                      [value]="
                        rowData | nestedProperty: col.name | formatString
                      "
                    />
                  } @else {
                    {{ rowData | nestedProperty: col.name | fallback }}
                  }
                </td>
              }
              <!-- actions -->
              @if (withActionsColumn()) {
                <td
                  class="text-center flex justify-content-center align-items-center"
                >
                  <ng-container
                    *ngTemplateOutlet="
                      actionsTemplate() || defaultActionsTemplate;
                      context: { $implicit: rowData }
                    "
                  />
                  <!-- default actions -->
                  <ng-template #defaultActionsTemplate let-rowData>
                    <ng-container>
                      @if (displayViewButton()) {
                        <button
                          pButton
                          [text]="true"
                          type="button"
                          *appHasRole="showViewBtnRole()"
                          icon="pi pi-eye text-xs"
                          (click)="viewClicked.emit(rowData)"
                          [pTooltip]="'view' | translate"
                          tooltipPosition="top"
                        ></button>
                      }

                      @if (displayUpdateButton()) {
                        <button
                          pButton
                          type="button"
                          *appHasRole="updateBtnRole()"
                          [icon]="'fa-solid fa-pencil' + ' text-xs'"
                          class="p-button-rounded p-button-text p-button-sm"
                          [pTooltip]="'update' | translate"
                          tooltipPosition="top"
                          (click)="updateBtnClicked.emit(rowData)"
                        ></button>
                      }
                      @if (displayDeleteButton()) {
                        <button
                          pButton
                          type="button"
                          *appHasRole="deleteBtnRole()"
                          icon="fas fa-trash text-xs"
                          class="p-button-sm p-button-rounded p-button-text p-button-danger"
                          [pTooltip]="'delete' | translate"
                          tooltipPosition="top"
                          (click)="deleteBtnClicked.emit(rowData)"
                        ></button>
                      }

                      @if (extendDefaultActionsTemplate()) {
                        <ng-container
                          *ngTemplateOutlet="
                            extendDefaultActionsTemplate() || null;
                            context: { $implicit: rowData }
                          "
                        />
                      }
                    </ng-container>
                  </ng-template>
                </td>
              }
            </tr>
          </ng-template>

          <!-- expansion -->
          <ng-template #rowexpansion let-rowData>
            <ng-container
              *ngTemplateOutlet="
                expandedRowTemplate() || null;
                context: { $implicit: rowData }
              "
            />
          </ng-template>

          <!-- emptymessage -->
          <ng-template #emptymessage>
            <tr>
              <td colspan="3">
                {{ "no data available" | translate }}
              </td>
            </tr>
          </ng-template>

          <!-- loadingbody -->
          <ng-template #loadingbody let-columns>
            <ng-container
              *ngTemplateOutlet="
                loadingBodyTemplate() || defaultLoadingTemplate;
                context: { $implicit: columns }
              "
            />
          </ng-template>

          <ng-template #defaultLoadingTemplate let-columns>
            @for (i of [] | range: 5; track $index) {
              <tr>
                @for (col of columns; track $index) {
                  <td>
                    <p-skeleton [style]="{ minWidth: '150px' }" height="10px" />
                  </td>
                }
                @if (reorderableRows()) {
                  <td>
                    <p-skeleton [style]="{ minWidth: '150px' }" height="10px" />
                  </td>
                }
                @if (withActionsColumn()) {
                  <td>
                    <p-skeleton [style]="{ minWidth: '150px' }" height="10px" />
                  </td>
                }
              </tr>
            }
          </ng-template>
        </p-table>
        @if (showScrollHint() && primengTable.responsiveLayout !== "stack") {
          <div
            class="scroll-hint-wrap md:hidden flex flex-column gap-2 align-items-center"
          >
            <span class="arrow-icon"></span>
            <span class="hand-icon"></span>
            <span class="text-xs">{{ "scrollable" | translate }}</span>
          </div>
        }
      </div>
    </p-card>
  </div>
</div>

<ng-template #searchTemplate let-primengTable>
  <p-iconfield>
    <p-inputicon styleClass="pi pi-search" />
    <input
      #filterInput
      pInputText
      type="text"
      [title]="placeHolderSearch()"
      class="p-inputtext-sm field-height w-full"
      [value]="globalFilterValue() || null"
      (input)="primengTable.filterGlobal(filterInput.value, 'contains')"
      [placeholder]="placeHolderSearch()"
    />
  </p-iconfield>
</ng-template>
