<app-table-wrapper
  [headerTitle]="indexMeta.indexTitle"
  [titleIcon]="indexMeta.indexIcon"
  [headerBtnLabel]="indexMeta.createBtnLabel"
  [withMultiLayout]="withMultiLayout()"
  [columns]="indexMeta.columns"
  [rows]="rows()"
  [dataSource]="records()"
  [loading]="isLoading()"
  [totalRecords]="totalRecords()"
  [recordsFiltered]="recordsFiltered()"
  [stateKey]="indexMeta.indexTableKey"
  [indexRole]="roles().index"
  [updateBtnRole]="roles().update"
  [showViewBtnRole]="roles().show"
  [createBtnRole]="roles().create"
  [deleteBtnRole]="roles().delete"
  [globalFilterValue]="globalFilterValue()"
  [reorderableColumns]="indexMeta.reorderableColumns ?? false"
  [reorderableRows]="indexMeta.reorderableRows ?? false"
  (onRowReorder)="onRowReorder($event)"
  (createBtnClicked)="navigateCreatePage()"
  (updateBtnClicked)="navigateUpdatePage($event)"
  (deleteBtnClicked)="confirmDelete($event)"
  (onLoadData)="loadRecords($event)"
/>
