<div class="flex flex-column justify-content-between h-screen p-3">
  <div class="lg:w-30rem sm:w-25rem w-full mx-auto flex-1">
    <div class="flex flex-column justify-content-center h-full">
      <div class="mb-6">
        @if (!isLgScreen()) {
          <img
            class="w-12rem mb-3"
            src="assets/media/logo/8x-mobile.png"
            alt="8x-mobile"
          />
        }
        @if (!showMessage()) {
          <h2 class="capitalize text-4xl font-bold">
            {{ "forget Password" | translate }}
          </h2>
          <p class="capitalize mt-3 font-medium">
            {{ "don't worry we get you correct. please" | translate }}
            {{ "select a password recovery Method below" | translate }}
          </p>
        }
      </div>

      @if (!showMessage()) {
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
          <div>
            <formly-form
              [model]="model"
              [fields]="fields"
              [form]="forgetPasswordForm"
            />

          </div>

          <button
            pButton
            pRipple
            class="p-button-sm p-button-success"
            type="submit"
            class="text-base w-full border-none shadow-none bg-primary-900 py-3 border-round-lg mt-3 text-white"
            [loading]="loading()"
            [label]="'Send Email' | translate"
          ></button>
        </form>
      }

      @if (showMessage()) {
        <div class="text-center">
          <ng-lottie
            class="inline-block"
            [options]="{
              path: 'assets/media/lottify/successfully-done.json',
              loop: false
            }"
            width="200px"
          />
          <h2 class="capitalize text-4xl font-bold">
            {{ "Thank Your For Send Your Email" | translate }}
          </h2>
          <p class="capitalize mt-3 font-medium">
            {{
              "We've sent a password recovery link to your email." | translate
            }}
            {{
              "Please check your inbox and follow the instructions." | translate
            }}
          </p>
        </div>
      }
    </div>
  </div>

  <app-footer className="text-center" />
</div>
