<app-form-dialog
  [showDialogHeader]="dialogMeta.showDialogHeader"
  [dialogData$]="dialogMeta.dialogData$"
  [isTitleRenderedAsBtn]="dialogMeta.isTitleRenderedAsBtn"
  [dialogTitle]="dialogMeta.dialogTitle"
  [dialogTitleClass]="dialogMeta.dialogTitleClass"
  [dialogSubtitle]="dialogMeta.dialogSubtitle"
  [titleIcon]="dialogMeta.titleIcon"
  (onTitleBtnClicked)="onTitleBtnClicked()"
  (closeDialog)="closeDialog()"
  [form]="createUpdateForm"
  [model]="model"
  [fields]="fields"
  [options]="options"
  [showFormActions]="dialogMeta.showFormActions"
  [showSubmitButton]="dialogMeta.showSubmitButton"
  [showResetButton]="dialogMeta.showResetButton"
  [submitBtnLabel]="dialogMeta.submitButtonLabel"
  [isLoading]="isLoading()"
  [isDisabled]="isDisabled()"
  (onSubmit)="createUpdateRecord(dialogMeta.endpoints, $event)"
/>
