<app-table-wrapper
  [headerTitle]="indexMeta.indexTitle"
  [titleIcon]="indexMeta.indexIcon"
  [headerBtnLabel]="indexMeta.createBtnLabel"
  [columns]="indexMeta.columns"
  [dataSource]="records()"
  [loading]="isLoading()"
  [displayCreateButton]="indexMeta.displayCreateButton"
  [displayUpdateButton]="indexMeta.displayUpdateButton"
  [displayDeleteButton]="indexMeta.displayDeleteButton"
  [displayViewButton]="indexMeta.displayViewButton"
  [totalRecords]="totalRecords()"
  [recordsFiltered]="recordsFiltered()"
  paginatorPosition="both"
  [indexRole]="roles().index"
  [updateBtnRole]="roles().update"
  [createBtnRole]="roles().create"
  [showViewBtnRole]="roles().show"
  [deleteBtnRole]="roles().delete"
  [displayFilterBtn]="indexMeta.displayFilterButton"
  [(displayFilters)]="displayFilters"
  [stateKey]="indexMeta.indexTableKey"
  [globalFilterValue]="globalFilterValue()"
  [reorderableColumns]="indexMeta.reorderableColumns ?? false"
  [reorderableRows]="indexMeta.reorderableRows ?? false"
  (createBtnClicked)="openCreateRecordDialog()"
  (updateBtnClicked)="openUpdateRecordDialog($event)"
  (deleteBtnClicked)="confirmDelete($event)"
  (viewClicked)="openView($event)"
  (onLoadData)="loadRecords($event)"
>
  <ng-template #beforeImage let-record>
    @if (record.before) {
      <p-image
        [src]="domainUrl + record.before"
        [preview]="true"
        alt="before"
        width="60"
      >
        <ng-template #indicator>
          <i class="pi pi-search"></i>
        </ng-template>
      </p-image>
    }
  </ng-template>

  <ng-template #afterImage let-record>
    @if (record.after) {
      <p-image
        [src]="domainUrl + record.after"
        [preview]="true"
        alt="after"
        width="60"
      >
        <ng-template #indicator>
          <i class="pi pi-search"></i>
        </ng-template>
      </p-image>
    }
  </ng-template>

  <ng-template #description let-record>
    <span [pTooltip]="record.description" tooltipPosition="top">
      {{ record.description }}
    </span>
  </ng-template>
</app-table-wrapper>

<p-dialog
  [(visible)]="showView"
  appendTo="body"
  position="topright"
  [showHeader]="false"
  [draggable]="false"
  [modal]="true"
  [resizable]="false"
  [focusOnShow]="true"
  [closeOnEscape]="false"
  styleClass="m-0 min-h-full border-none temporarily-hide-header"
>
  @if (showView()) {
    <app-view-before-after
      [(isShowDialog)]="showView"
      [beforeAfter]="recordView()"
    />
  }
</p-dialog>

