:host ::ng-deep .ng-select.custom-ng-select {
  &.ng-select-disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  .ng-select-container {
    background-color: transparent;
    height: var(--field-height) !important;
    border-radius: 6px;
    border-color: #ced4da !important;
    box-shadow: none !important;
    cursor: pointer;

    &:hover {
      border-color: #6366f1 !important;
    }

    .ng-value-container {
      .ng-input {
        & > input {
          cursor: pointer !important;
        }
      }

      .ng-placeholder,
      .ng-value-label {
        font-size: 14px;
      }
    }

    span.ng-arrow-wrapper {
      .ng-arrow {
        border: 0;
        width: auto;
        height: auto;

        &::before {
          content: "\f078";
          font-family: FontAwesome;
          font-size: 14px;
          display: inline-block;
          transition: transform 100ms;
        }
      }
    }
  }

  &.ng-invalid.ng-touched .ng-select-container {
    border-color: #dc3545 !important;
  }

  &.ng-select-opened > .ng-select-container .ng-arrow {
    top: 0;

    &::before {
      transform: rotate(180deg);
    }
  }
}

:host ::ng-deep .ng-select.special-dropdown {
  .ng-select-container {
    border: 0;

    .ng-value-container {
      flex: none;
      padding: 0;
    }
  }

  .ng-value-label {
    font-size: 14px;
  }

  .ng-arrow-wrapper {
    padding: 0;
    padding-inline-start: 5px;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.2s,
      visibility 0.2s;
  }

  &:hover {
    .ng-arrow-wrapper {
      opacity: 1;
      visibility: visible;
    }
  }
}

::ng-deep .ng-dropdown-panel {
  z-index: var(--high-index);
  .ng-dropdown-header {
    background-color: #f8f9fa;
  }

  .ng-dropdown-panel-items {
    max-height: 180px !important;

    .ng-option {
      font-size: 14px;

      &.ng-option-selected .ng-option-label,
      &.ng-option-selected.ng-option-marked .ng-option-label {
        color: var(--azalove-primary-600);
        background-color: #eff6ff;
        font-weight: normal;
      }

      &.ng-option-marked {
        color: #495057;
        background-color: #e9ecef;
      }
    }
  }
}
