<div class="flex flex-column justify-content-between h-screen p-3">
  <div class="lg:w-30rem sm:w-25rem w-full mx-auto flex-1">
    <div class="flex flex-column justify-content-center h-full">
      <div class="mb-6">
        @if (!isLgScreen()) {
          <img
            class="w-12rem mb-3"
            src="assets/media/logo/8x-mobile.png"
            alt="8x-mobile"
          />
        }
        <h2 class="capitalize text-4xl font-bold">
          {{ "Reset Password" | translate }}
        </h2>
        <p class="capitalize mt-3 font-medium">
          {{
            "Please enter a new password . ensure that your new password is different from the previous one for better security"
              | translate
          }}
        </p>
      </div>

      <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
        <div>
          <formly-form [model]="model" [fields]="fields" [form]="resetForm" />
        </div>

        <button
          pButton
          pRipple
          class="p-button-sm p-button-success"
          type="submit"
          class="text-base w-full border-none shadow-none bg-primary-900 py-3 border-round-lg mt-3 text-white"
          [loading]="loading()"
          [label]="'Create New Password' | translate"
        ></button>
      </form>
    </div>
  </div>

  <app-footer className="text-center" />
</div>
