<div [ngClass]="{ 'p-field': !props.isNotPField }">
  <p-floatlabel variant="on">
    @if (props.multiple) {
      <ng-container *ngTemplateOutlet="multiSelect" />
    } @else {
      <ng-container *ngTemplateOutlet="select" />
    }

    @if (props.label) {
      <label [ngClass]="props.labelClass">
        {{ props.label }}
        @if (props.required && props.hideRequiredMarker !== true) {
          <span class="text-red">*</span>
        }
      </label>
    }
  </p-floatlabel>

  @if (props.description) {
    <p class="mt-1 mb-0 font-medium text-xs text-primary capitalize">
      {{ props.description }} <i class="fas fa-circle-info text-sm"></i>
    </p>
  }

  @if (showError && formControl.errors) {
    <small class="error-msg" role="alert">
      <formly-validation-message [field]="field" />
    </small>
  }
</div>

<ng-template #select>
  <p-select
    [options]="(options$ | async) ?? []"
    [optionValue]="props.optionValue"
    [optionLabel]="props.optionLabel"
    [autoOptionFocus]="false"
    [autoDisplayFirst]="false"
    [formControl]="formControl"
    [loading]="props.loading ?? false"
    [formlyAttributes]="field"
    [filter]="props.filter ?? true"
    [styleClass]="props.styleClass + ' w-full font-medium text-surface-900'"
    [appendTo]="props.appendTo"
    [dropdownIcon]="props.dropdownIcon"
    [placeholder]="props.placeholder ?? ''"
    [tooltip]="props.tooltip"
    [tooltipPosition]="props.tooltipPosition ?? 'top'"
    [showClear]="props.showClear"
    [required]="props.required ?? false"
    [optionDisabled]="props.optionDisabled"
    [scrollHeight]="props.scrollHeight ?? '150px'"
    [class.ng-dirty]="showError"
    [group]="props.group"
    [lazy]="props.lazy"
    (onChange)="props.change && props.change(field, $event)"
  />
</ng-template>

<ng-template #multiSelect>
  <p-multiselect
    #multiSelect
    [options]="(options$ | async) ?? []"
    [optionValue]="props.optionValue"
    [optionLabel]="props.optionLabel"
    [autoOptionFocus]="false"
    [formControl]="formControl"
    [loading]="props.loading ?? false"
    [formlyAttributes]="field"
    [filter]="props.filter ?? true"
    [showHeader]="props.showHeader ?? true"
    [showToggleAll]="props.showToggleAll ?? true"
    [styleClass]="props.styleClass + ' w-full'"
    [appendTo]="props.appendTo"
    [dropdownIcon]="props.dropdownIcon"
    [display]="props.display ?? 'chip'"
    [placeholder]="props.placeholder ?? ''"
    [tooltip]="props.tooltip"
    [tooltipPosition]="props.tooltipPosition ?? 'top'"
    [showClear]="props.showClear"
    [required]="props.required ?? false"
    [optionDisabled]="props.optionDisabled"
    [scrollHeight]="props.scrollHeight ?? '150px'"
    [class.ng-dirty]="showError"
    [lazy]="props.lazy"
    [maxSelectedLabels]="null"
    (onChange)="props.change && props.change(field, $event)"
  />
</ng-template>
