<div class="p-3 surface-0 border-bottom-1 border-300 sticky top-0 z-10">
  <app-default-screen-header
    [title]="title()"
    (onClick)="showDialog.set(false)"
    titleClass="text-600 shadow-none"
    buttonClass="p-button-text p-button-secondary p-button-rounded w-2rem h-2rem"
    buttonIcon="pi pi-times"
  />
</div>

<div class="box-color border-round-lg">
  <div class="grid mt-3 px-3 py-0">
    @for (item of data(); track $index) {
      <div class="col-12 lg:col-3 md:col-4 py-3">
        <app-list-info-item
          [label]="item.label"
          [item]="item.value"
          [hasToolTip]="item.hasToolTip ?? false"
          [type]="item.type ?? ''"
        >
        </app-list-info-item>
      </div>
    }
  </div>
</div>
